@charset "UTF-8";
.header_list {
  display: flex;
  justify-content: flex-end;
  margin: 30px 115px 0px 0px;
  font-size: larger;
  height: 100px;
}

.header_list li {
  margin: 20px;
}

.header_list li a {
  text-decoration: none;
  color: black;
}

.mainvisual {
  display: flex;
  justify-content: center;
  position: relative;
}

.mainvisual .logo1 {
  position: absolute;
  left: 5%;
  top: -15%;
}

.mainvisual .logo2 {
  position: absolute;
  left: 56%;
  top: 51%;
}

.mainvisual .sp_logo {
  display: none;
}

.mainvisual_title {
  font-size: larger;
  margin: 10px 0px 80px 170px;
  letter-spacing: 3px;
}

.mainvisual_title br {
  display: none;
}

/*　ハンバーガーボタン　*/
.hamburger {
  display: none;
  position: fixed;
  z-index: 3;
  right: 13px;
  top: 12px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

.hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 10px;
}

.hamburger span:nth-child(2) {
  top: 20px;
}

.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 148px;
  left: 0;
  color: #000;
  background: #fff;
  text-align: center;
  transform: translateX(100%);
  transition: all 0.6s;
  width: 100%;
  display: none;
}

nav.globalMenuSp ul {
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}

nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

nav.globalMenuSp ul li:hover {
  background: #ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration: none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateX(0%);
}

@media screen and (max-width: 767px) {
  header {
    height: 150px;
  }
  .header_list {
    display: none;
  }
  .visual_1 {
    max-width: 100%;
    height: 275px;
  }
  .mainvisual .logo1 {
    width: 100px;
    top: -45%;
    left: 36%;
  }
  .mainvisual .logo2 {
    display: none;
  }
  .mainvisual .sp_logo {
    display: block;
    position: absolute;
    max-width: 60%;
    top: 2%;
    left: 1%;
  }
  .mainvisual_title {
    margin: 0px;
    letter-spacing: 0px;
    text-align: center;
    margin: 10px 0px 35px 30px;
  }
  .mainvisual_title p {
    line-height: initial;
  }
  .mainvisual_title br {
    display: block;
  }
  .hamburger {
    display: block;
  }
  nav.globalMenuSp {
    display: block;
  }
}

section {
  height: 100%;
  width: 100%;
  max-width: 1152px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  padding-right: auto;
  padding-left: auto;
  font-family: 'YuGothic';
}

section h2 {
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
}

section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section article {
  display: block;
  width: 320px;
  box-sizing: border-box;
  margin: 20px 20px;
}

section article:hover {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.65);
  transform: scale(1.05);
  transition-duration: 0.1s;
}

section article .article_card_link {
  text-decoration: none;
  color: #000000;
}

section article .article_card_link .article_card_thumbnail {
  width: 320px;
}

section article .article_card_link .article_card_text {
  position: relative;
  height: 150px;
  margin: 10px;
}

section article .article_card_link .article_card_text .article_card_title {
  margin-top: 5px;
}

section article .article_card_link .article_card_text .link_text {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 10px;
}

section article .article_card_link .article_card_text .line_p {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 1px;
  background: #000000;
}

section article .article_card_link .article_card_text .line_p.active {
  width: 95px;
  transition: .5s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  font-size: 12px;
  background-color: black;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  section h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
  }
}
