section {
    height: 100%;
    width: 100%;
    max-width: 1152px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    padding-right: auto;
    padding-left: auto;
    font-family: 'YuGothic';

    h2 {
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
        font-size: 30px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    article {
        display: block;
        width: 320px;
        box-sizing: border-box;
        margin: 20px 20px;

        &:hover {
            box-shadow: 1px 1px 12px rgba(0,0,0,.65);
            transform: scale(1.05);
            transition-duration: 0.1s;
        }

        .article_card_link {
          text-decoration: none; 
          color: #000000;
          
            .article_card_thumbnail {
                width: 320px;
            }

            .article_card_text {
                position: relative;
                height: 150px;
                margin: 10px;

                .article_card_title {
                    margin-top: 5px;
                }

                .link_text {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding-bottom: 10px;
                }

                .line_p {
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    // content: "";
                    width: 20px;
                    height: 1px;
                    background: #000000;

                    &.active {
                        width: 95px;
                        transition: .5s;
                    }           
                }
            }
        }
    }
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    font-size: 12px;
    background-color: black;
    color: #ffffff;
}

@media screen and (max-width:767px){
    section {
        h2 {
            margin-top: 50px;
            margin-bottom: 20px;
            font-size: 20px;
        }
    }
}